# make and build files

*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.elf
*.hex
*.d
*.ind
*.asm
*.bin
*.atsuo

APPS_ED_DEMO_SER_NWK_PROVISION1/Debug/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Debug/src/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Debug/src/Config/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Debug/src/ASF/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Debug/src/EER34/*

APPS_ED_DEMO_SER_NWK_PROVISION1/Release/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Release/src/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Release/src/Config/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Release/src/ASF/*
APPS_ED_DEMO_SER_NWK_PROVISION1/Release/src/EER34/*
